h1 {text-align: center;
}
h1 {
    color: cornflowerblue;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    background-color: rgb(254, 255, 191);
    
}
#quote-of-the-day {
    position:relative;
    text-align:center;  
    color:black;
}
#long-box {
    width: 200px;
}
.picture{
    padding: 1px;
    width: 3%;
    border-color: brown;
    border-width: 1%;
    border-style: solid;
    border-radius: 50%;
}
.headers{
    color: rgb(99, 0, 0);
}
a{
    color: #d83636;
}
a:hover{
    color: rgba(165,42,42,0.5);
}
.drawing{   
    padding:20px;
    margin:auto;
    width: 20%;
    border-color: brown;
    border-width: 1%;
    border-style: solid;
}