h1 {
    color: cornflowerblue;
    text-align: center;
    background-color: rgba(141, 141, 211, 0.6);
    padding-top: 1%;
    margin-left: 20%;
    padding-bottom: 1%;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 0%;
    border-color:rgb(1, 61, 172);
    border-width: 10%;
    border-style: solid; 
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    background-color: rgb(254, 255, 191);
    
}
#quote-of-the-day {
    position:relative;
    text-align:center;  
    color:rgba(0,0,0,0.7);
    background-color: orange;
    margin-left:25%;
    margin-right:25%;
    padding: 3%;
}
#long-box {
    width: 200px;
}
#head-picture{
    padding: 1px;
    width: 3%;
    border-color: rgba(1, 61, 172);
    border-width: 1%;
    border-style: solid;
    border-radius: 50%;
    position: fixed;
    left: 39%;
    top: 3.2%;
}
.headers{
    color: rgb(99, 0, 0);
}
#navbar{
    position: absolute;
    width: 100%;
    top: 22%;
    left: 32%;
}
nav ul{
    margin: 0px;
    padding: 5px, 0px, 5px, 30px;
}
nav li{
    display: inline;
    margin-right: 2%;
}
a{
    color: #d83636;
}
a:hover{
    color: rgba(165,42,42,0.5);
}
.drawing{   
    padding:20px;
    margin:auto;
    width: 20%;
    border-color: brown;
    border-width: 1%;
    border-style: solid;
}