h1 {text-align: center;
}
h1 {
    color: cornflowerblue;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    background-color: rgb(205, 248, 255);
}
.picture{
    width: 200px;
    border-color: brown;
    border-width: 7px;
    border-style: solid;
    border-radius: 100px;
}
.headers{
    color: blue;
}